/.vscode
/.vs

*.bak
NXACC.dat

__pycache__

/example/*
!/example/crossing.vrmnx
!/example/meter_extension/
!/example/meter_extension/meter.vrmnx
!/example/meter_extension/meter_west160.py
!/example/meter_extension/meter_west160.vrmnx
!/example/meter_extension/速度計160km_nx.png

/docs-src/_build
